*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color Variables */
:root {
    --black: #333;
    --lighter-black: #404040;
    --white: #ffffff;
    --blue-back:rgb(51, 164, 234);

/* FOR GRADIENT BACKGROUND */
    --red: #ffadad;
    --green: #2EAC48;
    --blue: #2187FA;
    --purple: #6A73DC;
    --pink: #ffc5ff;

}

html,body 
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--blue) ; /* If gradient doesn't load */
    background-image: radial-gradient(
        var(--red),
        var(--green),
        var(--blue),
        var(--purple),
        var(--pink)
    );
    background-size: 500% 500%;
    min-height: 100%;
    animation: move 5s alternate infinite;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header 
{
    position: sticky;
    top: 0;
    text-align: center;
    background-color: var(--white);
    padding: 0px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    margin-bottom: 10px;
}

#container 
{
    min-height: 100%;
}

#main
{
    overflow: auto; /* For Scroll bar */
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap; /* Mobile friendly wrapping */
    justify-content: center;
}

.card{
    background: var(--blue-back);
    width: 400px;
    /* height: 400px; */
    margin: 50px; /* 2x2 Grid*/
    border-radius: 20px;
    transition: all 0.9s ease;
}

.card_image{
    background-color: var(--blue-back); /* PlaceHolder */
    height: 350px;
    /* margin-bottom: 5px; */
    border-radius: 20px 20px 0 0;
}

.myAccount{
    background-image: url('images/my_account.jpg');
    background-size: cover;
}

.currentRecipes{
    background-image: url('images/current_recipes.jpg');
    background-size: cover;
}

.addRecipes{
    background-image: url('images/add_recipes.jpg');
    background-size: cover;
}

.modifyRecipes{
    background-image: url('images/modify_recipe.jpg');
    background-size: cover;
}

.card a{
    background-color: var(--blue-back);
    color: var(--white);
    padding: 20px;
    display: block; /* To then centre */
    text-align: center;
    text-decoration: none;
    border-radius: 0 0 20px 20px;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 4rem 8rem var(--black);
}

#footer 
{
    text-align: center;
    background-color: var(--black);
    position: relative;
    color: var(--white);
    height: 100px;
    margin-top: -75px;
    clear: both;
    padding: 20px;
    bottom: 0;
    width: 100%;
    border-radius: 10px 10px 0 0;

}

.signupForm{
    width: 320px;
    padding: 40px 20px;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}
h2{
    text-align: center;
    color: var(--white);
    font-weight: bold;
    font-size: 38px;
}

input{
    width: 100%;
    font-size: 15px;
    border: 1px solid var(--black);
    border-radius: 6px;
    padding: 8px 20px;
    box-sizing: border-box;
    margin-bottom: 15px;

}

.submit_button{
    margin-left: 70px;
    width: 50%;
    height: 100%;
    background: var(--lighter-black);
    color: var(--white);
    cursor: pointer;
}


.submit_button:hover{
    background-color: var(--blue);
    background-image: linear-gradient(315deg, var(--red) 0%, var(--blue) 74%);
    color: var(--white);
    transition: .50x;
}

p2{
    margin-left: 35px;
    font-size: 10px;
}

@keyframes move {
    from
    {
        background-position: 0%
    }
    to
    {
        background-position: 100% 100%
    }
}
